- var styleIcon = "height:32px;width:32px;display:block;border:0;outline:none;text-decoration:none"
- var styleAnchorIcon = "display:inline-block;padding:5px 10px"

table(style="border-collapse: collapse; padding:0px; background-color: rgb(131, 37, 132); color:#000; font-family:roboto,helvetica neue,helvetica,arial,sans-serif; transform:scale(0.99839, 0.99839); transform-origin: left top; text-align:center; border:0; height:100%; width:100%", cellpadding="0", cellspacing="0", min-scale="0.998389694041868")
  tbody
    tr
      td(style="margin:0;padding:10px;width:100%;border-top:0;text-align:center;vertical-align:top")
        table(style="border-collapse:collapse;border:0;max-width:600px!important;margin:auto;border:0;width:100%", cellpadding="0", cellspacing="0")
          tbody
            tr
              td(style="background-color:#f9def6;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px;vertical-align:top;margin:auto;")
                div(style="padding:23px 0;text-align:center;margin:auto;")
                  img(src="https://firebasestorage.googleapis.com/v0/b/angular-46.appspot.com/o/static%2Flogo_fonts.svg?alt=media&token=4d2f357c-9ade-4b63-ad0c-b3fd2c0244b1", style="text-align:center;width:240px;max-width:8334px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0; height:auto;outline:none;text-decoration:none")
            tr
              td(style="vertical-align:top;padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;height: 20px;width:100%;background-color: #832584")
            tr
              td(style="vertical-align:top;background-color:#ffffff;border-top:0;padding-top:0;padding-bottom:16px; min-width:100%;border-collapse:collapse")
                div(style="padding:0;min-width:100%;border-collapse:collapse")
                  div(style="padding:0px 18px 9px")
                    h1(style="margin-bottom:30px") Hola #{username}
                    div(style="text-align:justify;margin-bottom:35px")
                      span(style="font-size:16px") Para poder recuperar tu cuenta favor de dar click en el siguiente botón y coloca tu nueva contraseña
                      br
                    div(style="vertical-align:top;align:center;padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px")
                      div(style="border-collapse:separate!important;border-radius:5px;background-color:#832584;width:230px;cursor:pointer;margin:auto;")
                        div(style="font-size:14px;padding:18px;")
                          a(href=`${url}`, target='_blank', rel='noopener noreferrer', title='CAMBIAR CONTRASEÑA' style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center; text-decoration:none;color:#FFFFFF;display:block") CAMBIAR CONTRASEÑA
            tr
              td(style="vertical-align:top;padding:0;height:20px;width:100%;background-color: #832584")
            tr
              td(style="vertical-align:top;background-color:#f9def6;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px;min-width:100%;border-collapse:collapse")
                div(style="padding-top:9px;max-width:100%;min-width:100%;border-collapse:collapse")
                  div(style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px; word-break:break-word;font-size:12px;line-height:150%;text-align:justify;margin:23px 0")
                    span(style="font-size:16px;font-weight:700")
                      span No compartas tu contraseña con nadie.
                      br
                      br
                      span Y recuerda que para tener una contraseña segura debes de combinar letras mayúsculas, minúsculas, números y caracteres especiales.
                div(style="padding:9px")
                  div(style="vertical-align:top;padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center")
                    img(src="https://firebasestorage.googleapis.com/v0/b/angular-46.appspot.com/o/static%2Fchange_password.svg?alt=media&token=5457e76c-192e-4738-b4f5-f8bca7df87dd", style="text-align:center;width:564px;max-width:5001px;padding-bottom:0;display:inline!important; vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none") 
                div(style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;font-size:12px;line-height:150%;text-align:center")
                  div(style="text-align:justify;margin:23px 0")
                    span(style="font-size:16px;font-weight:700") Siguenos en nuestras redes sociales y mantente informado sobre las últimas actualizaciones de los eventos
                  div(style="padding:9px 10px")
                    a(href="https://github.com/Comunidad-de-Programadores", style=styleAnchorIcon, target="_blank" rel="noopener noreferrer")
                      img(src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-github-48.png", alt="GitHub", style=styleIcon)
                    a(href="https://twitter.com/comfeco", style=styleAnchorIcon, target="_blank" rel="noopener noreferrer")
                      img(src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", alt="Twitter", style=styleIcon)
                    a(href="https://www.facebook.com/groups/2637132626546045", style=styleAnchorIcon, target="_blank" rel="noopener noreferrer")
                      img(src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png", alt="Facebook", style=styleIcon)
                    a(href="https://discord.com/invite/5Bb5yvzNPr", style=styleAnchorIcon, target="_blank" rel="noopener noreferrer")
                      img(src="https://cdn.icon-icons.com/icons2/1476/PNG/512/discord_101785.png", alt="Discord", style=styleIcon)
                    a(href="https://www.youtube.com/channel/UC0oi8uH1vxDcyt7b_3iByew", style=styleAnchorIcon, target="_blank" rel="noopener noreferrer")
                      img(src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png", alt="Youtube", style=styleIcon)